####################
# Java
####################

target/
*.class
*.log
*.bat
*.txt


####################
# VS Code
####################

.vscode/

####################
# Node
####################

frontend/node_modules/

####################
# Environment
####################

.env
application-local.properties

####################
# OS
####################

.DS_Store
Thumbs.db